/* styles.css */

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px 0;
    position: relative;
    z-index: 10;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color:#36ba98;  */
    /* background-color: #50c878; */
    /* background-color: #31cd89; */
    background-color: #F1f1f1;
    padding: 10px 20px;
    height: 80px;
    z-index: 10
}


.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-logo {
    
width: 100px;
    height: 70px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto; /* This will push the menu to the right */
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu a {
    color:black;
   text-decoration: none;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8px 16px;
    font-size: 25px;
    display: block;
}


.navbar-menu a:hover {
    background-color:#575757;
    border-radius: 4px;
}

.navbar-menu li a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.navbar-menu li a:hover {
    background-color: #575757;
    color: white;
    border-radius: 5px;
}

.navbar-menu .btnLogin-popup{
    width:130px;
    height: 50px;
    background: transparent;
    border: 2px solid;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 25px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    transition: .5s;
}

.navbar-menu .btnLogin-popup:hover{
    background: #575757;

}

.footer {
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-content h3, .footer-content p {
    margin: 5px 0;
}

.info-section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}

.row.g-0.bg-body-secondary {
    margin-bottom: 20px;
    height: 200px;
}

h5, p, a {
    color: black; /* Set text color to black */
}

a.stretched-link {
    text-decoration: none; /* Remove underline from link */
}

.w-100{
    height: 180px;
}