body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px 0;
    position: relative;
    z-index: 10;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color:#36ba98;  */
    /* background-color: #50c878; */
    /* background-color: #31cd89; */
    background-color: #F1f1f1;
    padding: 10px 20px;
    height: 80px;
    z-index: 10
}


.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-logo {
    
width: 100px;
    height: 70px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto; /* This will push the menu to the right */
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu a {
    color:black;
   text-decoration: none;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8px 16px;
    font-size: 25px;
    display: block;
}


.navbar-menu a:hover {
    background-color:#575757;
    border-radius: 4px;
}

.navbar-menu li a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.navbar-menu li a:hover {
    background-color: #575757;
    color: white;
    border-radius: 5px;
}

.navbar-menu .btnLogin-popup{
    width:130px;
    height: 50px;
    background: transparent;
    border: 2px solid;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 25px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    transition: .5s;
}

.navbar-menu .btnLogin-popup:hover{
    background: #575757;

}

.footer {
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-content h3, .footer-content p {
    margin: 5px 0;
}
       
        .user-box {
            display: flex;
            border: #ffffff;
            background-color: rgba(74, 36, 157);
            padding: 20px;
            border-radius: 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
            align-items: center;
            width: 100%;
        padding-bottom: 10px;
        }
        
        #user-info{
            padding-left: 100px;
            color: white;
        }
        .user-image {
            width: 400px;
            height: 330px;
            border-radius: 0%;
            margin-right: 20px;
            padding-left: 100px;
        }
        
        .action-box {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            display: flex;
            justify-content: center;
            gap: 20px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            padding-top: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding-bottom: 20px;
        }
        
        /* .search-box {
            background-color: white;
            color: black;
            font-size: 20px;
            padding: 20px;
            border: 2px solid rgba(74, 36, 157, 0.7);
            /* border-radius: 8px; 
            text-align: center;
            height: 150px;
            width: 600px;
        } */
        
        .refresh-box
        {
            background-color: white;
            color: black;
            font-size: 20px;
            padding: 20px;
            height: 150px;
            border: 2px solid rgba(74, 36, 157, 0.7);
            /* border-radius: 8px; */
            text-align: center;
            width: 600px;
        }
        #refresh-profile{
            background-color: white;
            border: 2px solid rgba(74, 36, 157, 0.7);
        }
        #refresh-profile:hover{
            background-color: #4A249D;
            color: white;

        }

        .search-box {
            background-color: white;
            color: black;
            font-size: 25px;
            padding: 25px;
            margin-top: 30px;
            border: 2px solid rgba(74, 36, 157, 0.7);
            /* border: 3px solid black; */
            /* border-radius: 8px; */
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            width: 600px;
            /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
            margin-bottom: 30px;
        }
        
        .search-box p {
            margin: 0 0 10px;
        }
        
        .search-fields {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
            
        }
        
        #search-category {
           
            border: none;
            font-size: 20px;
            background-color: white;
            border: 2px solid rgba(74, 36, 157, 0.7);
            /* border: 2px solid black; */
            /* border-radius: 4px; */
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            height: 40px;
            /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
            width: 30%;  /* Adjust this percentage to control the width of the select box */
        }
        
        #search-value {
            height: 40px;
            margin-left: 10px;
            /* border: 2px solid black; */
            border: 2px solid rgba(74, 36, 157, 0.7);
            background-color: white;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
            /* border-radius: 4px; */
            width: 65%;  /* Adjust this percentage to control the width of the input box */
        }
        
        #search-button {
           
            background-color: white;
            color: black;
            margin-left: 10px;
            /* border: 2px solid black; */
            /* border-radius: 4px; */
            border: 2px solid rgba(74, 36, 157, 0.7);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            height: 40px;
            font-size: 20px;
            cursor: pointer;
            width: 40%;
        }
        
        #search-button:hover {
            background-color: #4A249D;
            color: white;
        
        }
        .recommendation-box{
            padding-bottom: 20px;
            padding-left: 15px;
            /* display: flex; */
            background-color: #4A249D;
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 17px;
        }
        /* .box{
            padding-bottom: 20px;
            display: flex;
            background-color: #4A249D;
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 17px;
        } */
        /* .rec-image{
            height: 10px;
        } */
        /* #search-results {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 30px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        
        .search-result {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 30px;
            width: 300px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #6B8A7A;
            color: #ffffff;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        } */
        #ff{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        #fc{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            width: 100%;
            background-color: #f1f1f1;
            font-size: 22px;
        }