/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#6B8A7A;
    padding: 10px 20px;
    height: 100px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-logo {
    
width: 160px;
    height: 80px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto; /* This will push the menu to the right */
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu a {
    color: #fff;
   text-decoration: none;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 8px 16px;
    font-size: 25px;
    display: block;
}


.navbar-menu a:hover {
    background-color:#575757;
    border-radius: 4px;
}


.navbar-menu li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.navbar-menu li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.navbar-menu .btnLogin-popup{
    width:130px;
    height: 50px;
    background: transparent;
    border: 2px solid;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 25px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    transition: .5s;
}

.navbar-menu .btnLogin-popup:hover{
    background: #575757;

}

.footer {
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-content h3, .footer-content p {
    margin: 5px 0;
}

        #search-title{
            background-color: #f1f1f1;
        }
        
        #search-results {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 30px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        
        .search-result {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 30px;
            width: 300px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #6B8A7A;
            color: #ffffff;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        #ff{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        #fc{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            width: 100%;
            background-color: #f1f1f1;
            font-size: 22px;
        }