/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#6B8A7A;
    padding: 10px 20px;
    height: 120px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-logo {
    
width: 160px;
    height: 110px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto; /* This will push the menu to the right */
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu a {
    color: #fff;
   text-decoration: none;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 8px 16px;
    font-size: 25px;
    display: block;
}


.navbar-menu a:hover {
    background-color:#575757;
    border-radius: 4px;
}


.navbar-menu li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.navbar-menu li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.navbar-menu .btnLogin-popup{
    width:130px;
    height: 50px;
    background: transparent;
    border: 2px solid;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 25px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    transition: .5s;
}

.navbar-menu .btnLogin-popup:hover{
    background: #575757;

}

.form-box h2{
    font-size: 25px;
    color: black;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height:100px;
    /*border-bottom: 2px solid black;*/
    margin: 30px 0;
}

.login-register{
    font-size: 0.9em;
    color:black;
    text-align: center;
    margin: 25px;

}

.login-register p a{
    color:black;

}

.login-register p a:hover{
    text-decoration: underline;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background */
    padding: 20px;
    border-radius: 8px;
    height: 250px;
}

.login-register{
    color: white;
    font-size: 20px;
}
.login-register p {
    color: white; /* Color of the paragraph text */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.login-register .register-link {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Color of the Register link */
    text-decoration: none; /* Remove underline */
}

.login-register .register-link:hover {
    color: #ff9900; /* Color of the Register link on hover */
}

.login-form input {
    padding: 10px;
    margin: 5px 0;
    width: 300px;
    height: 100px;
    border: none;
    border-radius: 4px;
}

.login-form button {
    padding: 10px 10px;
    padding-top: 20px;
    margin-top: 20px;
    margin: 5px 120px;
    border: none;
    border-radius: 4px;
    background-color: #6B8A7A;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    cursor: pointer;
}
#error-message {
    color: red;
    margin-top: 10px;
}
.login-form button:hover {
    background-color: #444;
}
#but{
    padding: 10px 20px;
    margin: 5px 120px;
    border: none;
    border-radius: 4px;
    background-color: #6B8A7A;
    color: white;
    cursor: pointer;
}

.background-section {
    height: 250px;
    background-image: url('https://image.architonic.com/pro2-3/20092255/herringbone-oak-ab-dim-white-sample-pro-b-arcit18.jpg');
   
    background-size: cover;
    background-position: center;
    display: flex;
   flex-direction: column-reverse;
    align-items:center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom:20px;
    padding: 20px;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    background: rgba(0, 0, 0, 0.1); /* Optional: semi-transparent background */
    padding: 20px;
    border-radius: 8px;
}

.text-content {
    flex: 1;
    margin-right: 50px;
    margin-top: 30px;
}

.text-content h1, .text-content p {
    margin: 0;
}

#head{
    font-size: 40px;
}

#para{
    font-size: 25px;
}

.footer {
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-content h3, .footer-content p {
    margin: 5px 0;
}

#search{
   font-size: 35px;
}

.search-section {
   /* background-image: url('bgim.png');*/
   background-color: #B7B597;
    color: black;
    padding: 40px 0;
    text-align: center;
    margin-bottom: 20px;
    /*margin-left: 20px;*/
    width: 100%;
    opacity: 1; /* Adjust the opacity as needed */
    z-index: 1;
    padding-right: 20px;
    

}

.search-content {
    max-width: 700px;
    margin: auto;
    height: 100px;
   
}

.search-content h2 {
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form input[type="text"] {
    padding: 10px; /* Increase padding for taller input */
    width: 50%; /* Adjust width as needed */
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    height: 20px;
    background-color: white;
    color: black;
}

.search-form select {
    padding: 10px; /* Increase padding for taller select */
    border: none;
    border-radius: 4px;
    background-color: white;
    color: black;
    width: 150px;
    margin-right: 30px;
}
        body {
            margin: 0;
            padding: 0;
        }
        .container {
            display: flex;
            justify-content: space-between;  /* Align items side by side */
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            background-color: white;
            width: 100%;
            margin: 20px;
              /* Include padding and border in the element's total width and height */
        }
        .text-box {
            width: 1000px;  /* Adjust the width to fill the container */
            padding: 10px;
            background-color: #f1f1f1;
            ;  /* Light background color */
              /* Border for the box */
            border-radius: 5px;  /* Rounded corners */
            margin-right: 10px;
            box-sizing: border-box;  /* Include padding and border in the element's total width and height */
        }
        #img {
            width: 900px;  /* Adjust the width to fill the container */
            max-width: 900px;
            
        }
        .carousel-item img {
            height: 500px;
            object-fit: cover;
        }
        .bg {
            background-color: white;
        }
        .text-box{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 18px;
        }

        .scrollspy-container {
            margin: 20px;
            background-color: white;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 20px;
        }
        
        .secondary-navbar {
            background-color: #6B8A7A;
            color: #ffffff;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        
        .secondary-navbar .nav-link {
            color: white;
            text-decoration: none;
            font-size: 30px;
            padding-right: 20px;
            align-items: start;
        }
        
        .secondary-navbar .nav-link:hover {
            background-color: #575757;
            color: black;
            
        }
        .secondary-navbar .nav-link.active {
            background-color: white; /* Change this to your preferred color */
            color: #fff; /* Change text color if needed */
        }
    
        
        /* Change the background color when the link is focused */
        .secondary-navbar .nav-link:focus {
            background-color: #575757; /* Change this to your preferred color */
            color: #fff; /* Change text color if needed */
        }
        .scrollspy-example {
            height: 400px;
            overflow-y: auto;
            background-color: #f1f1f1 ;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        
        .register-body {
            background-color: #f1f1f1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .register-wrapper {
            display: flex;
            background-color: white;
           height: 500px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        
        /* Container for the text box */
        .text-boxs {
            width: 350px;
            height: 530px;
            border-right: 1px solid #ddd;
            font-size: 20px;
            padding: 10px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            background: #6B8A7A;
            color: white;
        }

        /* Container for the registration form */
        .register-container {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            width: 400px;
            text-align: center;
            padding-top: 20px;
        }
        
        .register-container h2 {
            margin-top: 0;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        
        .register-container form {
            display: flex;
            flex-direction: column;
            height: 550px;
        }
        
        .register-container input {
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        
        .register-container button {
            padding: 10px;
            border: none;
            background-color: #6B8A7A;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .register-container button:hover {
            background-color: #218838;
        }

        .form-label{
            text-align: left;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        .regis {
            color: white; /* Color of the Register link */
            text-decoration: none; /* Remove underline */
        }

        .welcome-body {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
        .welcome-wrapper {
            display: flex;
            background-color: #f1f1f1;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            max-width: 800px;
            width: 90%;
        }
        
        .image-container {
            flex: 1;
        }
        
        .welcome-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .text-b {
            flex: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .text-b h2 {
            margin-top: 0;
        }
        
        .text-b p {
            margin-bottom: 10px;
        }

        .welcome-body {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        
        .welcome-wrappers {
            display: flex;
            gap: 20px; /* Space between the text boxes */
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            max-width: 90%;
        }
        
        .text-bo {
            flex: 1;
            color: white;
            background-color: #6B8A7A;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            
        }
        
        .text-bo h3 {
            margin-top: 0;
        }
        
        .text-bo p {
            margin-bottom: 0;
            text-decoration: none;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        .text-bo .anch {
            color: white;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Color of the Register link */
            text-decoration: none; /* Remove underline */
            font-size: 22px;
        }

        .text-boo {
            flex: 1;
            background-color: #f1f1f1;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            
        }
        
        .text-boo h3 {
            margin-top: 0;
        }
        
        .text-boo p {
            margin-bottom: 0;
            text-decoration: none;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        .text-boo .anch {
            color: black;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Color of the Register link */
            text-decoration: none; /* Remove underline */
            font-size: 22px;
        }

        .search-body {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
        .search-wrapper {
            display: flex;
            background-color: #f1f1f1;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            max-width: 800px;
            width: 90%;
        }
        
        .image-container {
            flex: 1;
        }
        
        .search-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            height: 200px;
        }
        
        .search {
            flex: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            background-color: #f1f1f1;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            height: 200px;
        }
        
        .search h2 {
            margin-top: 0;
        }
        
        .search p {
            margin-bottom: 10px;
            margin-bottom: 0;
            text-decoration: none;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        .search-body {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        
        .search-wrappers {
            display: flex;
            gap: 20px; /* Space between the text boxes */
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            max-width: 90%;
        }
        
        .search .anch {
            color: black;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Color of the Register link */
            text-decoration: none; /* Remove underline */
            font-size: 22px;
        }
       
        .user-box {
            display: flex;
            border: #ffffff;
            background-color: #f1f1f1;
            padding: 20px;
            border-radius: 0px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
            align-items: center;
            width: 100%;
        padding-bottom: 10px;
        }
        
        #user-info{
            padding-left: 100px;
        }
        .user-image {
            width: 400px;
            height: 400px;
            border-radius: 0%;
            margin-right: 20px;
            padding-left: 100px;
        }
        
        .action-box {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            display: flex;
            justify-content: center;
            gap: 20px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        
        .search-box {
            background-color: #6B8A7A;
            color: #f1f1f1;
            font-size: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            text-align: center;
            width: 450px;
        }
        
        .refresh-box
        {
            background-color: #6B8A7A;
            color: #f1f1f1;
            font-size: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            text-align: center;
            width: 450px;
        }
        #refresh-profile{
            background-color: #f1f1f1;
        }

        #search-button{
            background-color: #f1f1f1;
        }
        #search-title{
            background-color: #f1f1f1;
        }
        
        #search-results {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 30px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        
        .search-result {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 30px;
            width: 300px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #6B8A7A;
            color: #ffffff;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        #ff{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        #fc{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            width: 100%;
            background-color: #f1f1f1;
            font-size: 22px;
        }